<!DOCTYPE html>
<html>
  <head>
    <title>Bomb Burst</title>
      
    <link rel="stylesheet" type="text/css" href="style2.css"> 
    <link rel="stylesheet" type="text/css" href="style.css"> 

  </head>
  <body>
    <div id="app" style="background-image: url(b3.jpg)">
      <div class="container"> 
        <div class="row">
            
          <div class="col-md-3 col-md-offset-4"> 
            <p>&nbsp;</p>
            <h1 class="text-center" style="color: lightgray">Bomb Burst</h1>
            
            <div id="bomb" v-on:click="punch" v-bind:class="{burst: ended}" 
             style="background-color:white; border-radius:10ch"></div> 
            
            <div id="health">
              <div v-bind:style="{ width: health+'%'}"></div> 
            </div>
            
            <div id="timer" class="text-center"> 
              <label style="color:white">Timer : {{ seconds }} s</label> 
             </div>

            <hr>
            <div id="difficulty" class="text-center" style="color: goldenrod">
              <label class="radio-inline">   
                <input type="radio" v-model="level" value="1" title="Regeration 1+"><b>Easy</b> 
              </label>
              <label class="radio-inline">  
                <input type="radio" v-model="level" value="5" title="Regeration 5+" ><b>Medium</b>  
              </label>
              <label class="radio-inline">   
                <input type="radio" v-model="level" value="10" title="Regeration 10+" ><b>Hard</b>   
              </label>
            </div>
            <hr>

            <div id="controls">
              <button v-on:click="start" class="btn btn-success" >Start</button> 
              <button v-on:click="restart" class="btn btn-danger">Restart</button> 
            </div>


          </div> 
          <div id="mechanics">
            <h2> <center>MECHANICS<center> </h2>
              1. Choose a level <br>
              2. click the start button<br>
              3. Tap/Click the bomb until the health bar is empty <br>
              4. Click restart to play again
            </div>    
        </div> 
      </div> 
    </div> 
  </body>
  <script type="text/javascript" src="main2.js"></script>
  <script type="text/javascript" src="main.js"></script>
</html>