h1{
	font-family: Merriweather,serif;
	font-weight: bolder;
	color: aliceblue;
}

#bomb{
	width: 100%;
	height: 300px;
	margin : 0 auto;
	background: url(bomb.gif) center no-repeat;
	background-size: 170%;
	border: 2px solid #000;
}

#bomb.burst{
	background: url(boom2.gif) center no-repeat;
	background-size: 100%;
	background-repeat: round;
}

#health{ 
	width: 100%;
	border: 2px solid #000;
	margin : 20px auto 20px auto;
 }

 #health div{ 
	height: 20px;
	background:gray;
 }

 #controls{
 	width: 100%;
 	margin: 20px auto;
 	text-align: center;
 }

 #mechanics{
	 background-color: inherit;
	 border:solid;
	 font-family: Merriweather,serif;
	 text-align: justify;
	 margin-top: 160px;
	 margin-left: 70%;
	 color: lightgray;
	 font-size: 15px
 }
